.app {
  font-family: $fontBook;
  background-color: map-get($colors, sea);
  font-display: swap;
  min-height: 100vh;

  &__cnt {
    margin-left: auto;
    margin-right: auto;
    max-width: $maxWidth;

    &__title {
      text-align: center;
      color: map-get($colors, purple);
      font-size: map-get($fontSizes, bigTitle);
      padding-top: map-get($margins, m3);
      padding-bottom: map-get($margins, m5);

      @media (max-width: map-get($widths, xs)) {
        padding-bottom: map-get($margins, m1);
      }
    }
  }
}
