.button {
  background-color: transparent;
  border: 1px solid map-get($colors, black);
  color: map-get($colors, purple);
  cursor: pointer;
  padding: map-get($margins, m1);
  border-radius: $radius;
  margin: map-get($margins, m1) 0;
  transition: $transition;

  &:disabled {
    background-color: map-get($colors, block);
    border-color: transparent;
  }

  &:hover {
    border-color: map-get($colors, purple);

    &:disabled {
      border-color: transparent;
    }
  }

  &:focus {
    outline: none;
  }
}
